@import "~@fontsource/roboto/index.css";
@import "~@fontsource/roboto/700.css";
@import "~@fontsource/roboto/400.css";
@import "~@fontsource/roboto/300.css";
@import '~bootstrap/scss/bootstrap';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(15, 15, 15);
}